certifi==2020.4.5.1
chardet==3.0.4
colorthief==0.2.1
futures==3.1.1
googletrans==2.4.0
goslate==1.5.1
idna==2.9
mtranslate==1.6
numpy==1.17.4
opencv-python==4.1.2.30
Pillow==6.2.1
PyQt5==5.13.2
PyQt5-sip==12.7.0
requests==2.23.0
urllib3==1.25.9
webcolors==1.3
